<html>
</body>
<h1>Detail View</h1>

<div>

  {{product.name}}<br>
  {{product.description}}<br>
  Pret: {{product.price}}<br>
  <img width="200" height="200" src="/{{ product.picture }}">
  <a href="/add_product/{{product.id}}">Add to cart</a>
  <a href="/delete_product/{{product.id}}">Delete from cart</a>
</div>


<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post Comment</button>
</form>


{%for comment in comments%}

<div>{{comment.id_user.username}}: {{comment.text}} </div>

{%endfor%}



<a href="{% url 'home' %}"><small>Back</small></a>
</body>
</html>
